# Игнорировать системные файлы
.DS_Store
Thumbs.db

# Игнорировать файлы конфигурации с паролями
# Раскомментируйте следующую строку, если не хотите включать конфигурацию БД в репозиторий
# site_files_for_beget/db_config.php

# Игнорировать временные файлы
*.tmp
*.bak
*.swp

# Игнорировать файлы среды разработки
.idea/
.vscode/
*.sublime-*

# Игнорировать кэш и логи
*.log
cache/
logs/

# Игнорировать директорию .conda
.conda/ 